################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aknakereso/.vs/aknakereso/v16/Server/sqlite3/db.lock
/aknakereso/.vs/aknakereso/v15/Server/sqlite3/db.lock
